body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}

.column {
	margin-top: 16px;
}

hr {
	margin-bottom: 8px;
}

textarea {
	width: 100%;
	border: 1px solid #4766FF;
	padding: 8px;
}

.btn-comment {
	margin-top: 12px;
	background: #4766FF;
	border-radius: 0;
}

.comment {
	margin: 0 16px;
}

.comment-user {
	font-size: 16px;
	color: #4C63D5;
	margin-bottom: 8px;
}

.comment-user small {
	margin-left: 8px;
}

.comment-text {
	font-size: 14px;
	color: #4F4F4F;
}

